*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
  font-family: "Open-Sans", sans-serif;
  background: #252839;
  padding: 0 5rem;
  min-height: 100vh;
}

/* Header Section */
#header__contact-link {
  font-size: 2rem;
  color: rgb(72, 223, 72);
  padding: 1% 20% 1% 80%;
}

#title-name-container {
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

#title-name {
  position: relative;
  font-size: 5vw;
  color: #252839;
  -webkit-text-stroke: 0.1vw #383d52;
}

#title-name::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgb(72, 223, 72);
  -webkit-text-stroke: 0vw #383d52;
  border-right: 5px solid rgb(72, 223, 72);
  overflow: hidden;
  animation: name-animate 5s ease-in-out infinite;
}

@keyframes name-animate {
  0%{
    width: 0;
  }
  50%{
    width: 100%;
  }
  100% {
    width: 0;
  }
}

#main-social-links {
  color: rgb(72, 223, 72);
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

/* Footer Section */
footer {
  display: flex;
  width: 90%;
  bottom: 0;
  position: fixed;
  color: rgb(72, 223, 72);
  padding: 30px 0;
  justify-content: space-between;
  align-items: center;
}

#footer__social-links {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 0 auto;
}

footer p {
  padding: 0 20px 0  0;
  font-size: .7rem;
}

/* Utility Classes */
a {
  color: inherit;
  text-decoration: none;
}

i {
  font-size: 1.5rem;
}

h2 {
  color: rgb(72, 223, 72);
}

